button[aria-busy="true"],
.jc-toggle-load[aria-busy="true"] {
  opacity: 50%;
  pointer-events: none;
  position: relative;
}

button[aria-busy="true"] *,
.jc-toggle-load[aria-busy="true"] * {
  opacity: 0;
}

button[aria-busy="true"]::after,
.jc-toggle-load[aria-busy="true"]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}