.ecom-hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  background: #F8F5E8;
}
@media (min-width: 1000px) {
  .ecom-hero {
    flex-direction: row;
  }
}
.ecom-hero__media {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .ecom-hero__media-image {
    height: 100%;
  }
}
.ecom-hero__media-image img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 1000px) {
  .ecom-hero__media-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.ecom-hero__logo {
  position: absolute;
  top: 24px;
  left: 16px;
  right: 16px;
  z-index: 3;
}
.ecom-hero__logo img {
  max-width: 40px;
  height: auto;
}
@media (min-width: 1000px) {
  .ecom-hero__logo {
    top: 48px;
    left: 32px;
    right: 32px;
  }
  .ecom-hero__logo img {
    max-width: 60px;
    height: auto;
  }
}
@media (min-width: 1150px) {
  .ecom-hero__logo {
    top: 64px;
    left: 80px;
    right: unset;
  }
}
.ecom-hero__toggle {
  position: absolute;
  left: 50%;
  top: calc(50% + 40px);
  transform: translate(-50%, -50%);
  border: 1.5px solid #005128;
  border-radius: 50%;
  padding: 6px;
  width: 56px;
  height: 56px;
  z-index: 3;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .ecom-hero__toggle {
    top: 50%;
  }
}
.ecom-hero__toggle[aria-expanded=true] {
  border: 1.5px solid #F8F5E8;
}
.ecom-hero__toggle[aria-expanded=true] .ecom-hero__toggle__inner {
  background: #F8F5E8;
  color: #005128;
}
.ecom-hero__toggle__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #005128;
  color: #F8F5E8;
  transition: background 0.2s;
}
.ecom-hero__cards {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 81, 40, 0.4);
  z-index: 2;
  padding: 16px;
  padding-top: 88px;
}
@media (min-width: 1000px) {
  .ecom-hero__cards {
    padding: 32px;
  }
}
@media (min-width: 1150px) {
  .ecom-hero__cards {
    padding: 80px;
  }
}
.ecom-hero__card {
  background: #F8F5E8;
  color: #005128;
  border-radius: 11px;
  padding: 16px 14px;
  width: 26%;
  min-width: 125px;
  min-height: 117px;
  text-align: center;
  background: rgba(0, 81, 40, 0.8980392157);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ecom-hero__card:nth-child(2), .ecom-hero__card:nth-child(4) {
  justify-self: flex-end;
}
@media (min-width: 1000px) {
  .ecom-hero__card {
    min-width: 180px;
    min-height: unset;
    padding: 24px;
  }
}
@media (min-width: 1150px) {
  .ecom-hero__card {
    min-width: 200px;
  }
}
@media (min-width: 1400px) {
  .ecom-hero__card {
    padding: 36px 38px;
    min-width: 240px;
  }
}
.ecom-hero__card-icon {
  width: 24px !important;
  height: auto !important;
  margin-bottom: 11px;
}
@media (min-width: 1000px) {
  .ecom-hero__card-icon {
    width: 48px !important;
    margin-bottom: 16px;
  }
}
.ecom-hero__card-desc {
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.36px;
  color: #EDED5E;
}
@media (min-width: 1000px) {
  .ecom-hero__card-desc {
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .ecom-hero__card-desc {
    font-size: 16px;
  }
}
.ecom-hero__content {
  background-color: #005128;
  color: #F8F5E8;
  padding: 48px 16px;
}
@media (min-width: 1000px) {
  .ecom-hero__content {
    padding: 48px 32px;
  }
}
@media (min-width: 1150px) {
  .ecom-hero__content {
    padding: 64px 80px 80px 80px;
  }
}
@media (min-width: 1000px) {
  .ecom-hero__content-inner {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.ecom-hero__title {
  font-family: "Sofia Pro";
  text-transform: capitalize;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -1.12px;
  color: #F8F5E8;
  margin-bottom: 32px;
}
@media (min-width: 1000px) {
  .ecom-hero__title {
    margin-top: 32px;
  }
}
@media (min-width: 1150px) {
  .ecom-hero__title {
    font-size: 68px;
    text-align: left;
    letter-spacing: -1.8px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1400px) {
  .ecom-hero__title {
    font-size: 90px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
.ecom-hero__title-highlight {
  color: #00B67A;
  position: relative;
}
.ecom-hero__title-highlight img {
  max-width: 124px;
  position: absolute;
  top: 20px;
  left: 34px;
  transform: translateY(-50%);
  z-index: 2;
}
@media (min-width: 1150px) {
  .ecom-hero__title-highlight img {
    max-width: 210px;
    top: 24px;
    left: 40px;
  }
}
@media (min-width: 1400px) {
  .ecom-hero__title-highlight img {
    max-width: 320px;
    top: 38px;
    left: 48px;
  }
}
.ecom-hero__benefits {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin-bottom: 32px;
}
@media (min-width: 1150px) {
  .ecom-hero__benefits {
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1400px) {
  .ecom-hero__benefits {
    gap: 48px;
    margin-bottom: 48px;
  }
}
.ecom-hero__benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #F8F5E8;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.42px;
  text-transform: capitalize;
}
.ecom-hero__cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 1150px) {
  .ecom-hero__cta-wrapper {
    flex-direction: row;
  }
}
.ecom-hero__label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(248, 245, 232, 0.6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
@media (min-width: 1000px) {
  .ecom-hero__media, .ecom-hero__content {
    width: 50%;
  }
}
.ecom-hero__trustpilot-wrapper {
  border-bottom: 1px solid rgba(249, 245, 233, 0.12);
}
.ecom-hero__trustpilot-wrapper--mobile {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
@media (min-width: 1000px) {
  .ecom-hero__trustpilot-wrapper--mobile {
    border-bottom: none;
  }
  .ecom-hero__trustpilot-wrapper--mobile .ecom-hero__trustpilot {
    display: none;
  }
}
.ecom-hero__trustpilot-wrapper--desktop {
  display: none;
}
@media (min-width: 1000px) {
  .ecom-hero__trustpilot-wrapper--desktop {
    padding-bottom: 16px;
    display: block;
  }
}
.ecom-hero__trustpilot {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}
@media (max-width: 999px) {
  .ecom-hero__trustpilot svg {
    width: 81.875px;
    height: 20px;
  }
}
@media (min-width: 1000px) {
  .ecom-hero__trustpilot {
    width: 100%;
    gap: 20px;
  }
}
.ecom-hero__trustpilot-avatars {
  display: flex;
  align-items: center;
}
.ecom-hero__trustpilot-avatars img {
  width: 133px;
  height: auto;
}
.ecom-hero__trustpilot-text {
  color: #F8F5E8;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.42px;
  text-transform: capitalize;
  white-space: nowrap;
}
@media (max-width: 999px) {
  .ecom-hero__trustpilot-text {
    margin-top: 4px;
  }
}
.ecom-hero__trustpilot-line {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0.5rem 0 0 0;
  width: 100%;
}
@media (min-width: 1000px) {
  .ecom-hero__trustpilot-row {
    justify-content: flex-start;
    gap: 20px;
  }
  .ecom-hero__trustpilot-text {
    font-size: 16px;
  }
}

header {
  display: none !important;
}