.usps-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 12px 0;
}

.usp-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 10px;
  border: 0.3px solid #005128 !important; 
}

.usp-icon {
  display: inline-flex;
  align-items: center;
}

.usp-text {
  color: #005128;
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: -0.48px;
} 

@media (max-width: 460px) {
  .usps-list {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }

  .usp-item {
    gap: 12px; 
    border-radius: 12px;
    padding: 15px 10px;
    padding-right: 20px;
  }

  .usp-item svg {
    width: 24px;
    height: 24px;
  }

  .usp-text {
    font-size: 16px;
    max-width: 94px;
  }
  
  
}