/**
 * entry file for Tailwind CSS
 * and other style files
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./components/product-main.css";
@import "./components/pack-selector.css";

.jc-container {
  @apply jc-mx-auto jc-px-5 lg:jc-px-25 jc-max-w-[1440px];
}

/* Lazysizes css */
.blur-up {
  filter: blur(5px);
  transition: filter 400ms;
}

.blur-up.lazyloaded {
  filter: blur(0);
}